*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}
div{
    display: block;
}

header{
    display : flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    background-color:#35424A;
    border-bottom: 5px solid #9f4f85;
    width:100%;
    height:25%;
    text-align: center;
}
nav{
    font-size:1.2em;
}
nav a {
    padding:0.1em;
}
footer {
    display:block;
    background-color: #35424a;
    color: white;
}
footer > p {
    text-align: center;
}
.main-content{
    background-image:url(showcase.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: scroll;
    min-height:25em;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.subscribe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #35424a;
    color: white;
    font-size: 0.8em;
    padding: 1em;
}
.logos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logos > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 300px;
}
h1{
    display:block;
    font-weight: bold;
    text-align: center;
    font-size:3rem;
}
h3{
    display:block;
    font-size:1.5em;
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color:white;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size:2rem;
}
header a  {
    color:white;
}
#header{
    color:white;
    
}
#home{
    color:#9f4f85;
}
#header_span {
    color:#A9508B
}
#a{
    float:right;
}
#email{
    text-align:left;
}

#submit-btn {
    background-color: orangered;
    color: white;
    border: none;
    padding: 0.3em;
}
h4{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.about{
    grid-area: grid-left;
}
.more_about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #35424a;
    color: white;
    font-size: 0.8em;
    margin: 1em;
    grid-area: grid-left;
}
.what_we_do {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #35424a;
    color: white;
    font-size: 0.8em;
    margin: 1em;
    grid-area: grid-rightindex;
}